<p id="notice"><%= notice %></p>

<h2>
<strong>Name:</strong>
  <%= @restaurant.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h2>
<strong>Reviews:</strong>
</h2>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %>
    <br>
    Rating: <%= review.review_rating %>
  </li>
  <% end %>
</ul>

<%= link_to "Back", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
